@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar to match Notion */
.custom-scrollbar::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
	background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #333;
	border-radius: 3px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #444;
}

body {
	background-color: #191919; /* Prevents white flash */
}
